@import "../../styles/mixins/alignments";

.Breadcrumb {
  @include items-center-horizontally;
  cursor: pointer;
  gap: 16px;

  width: 100%;
  height: 56px;
  background-color: #edeffc;

  &__dot {
    display: flex;
    gap: 16px;
    color: #7981b2;

    &--active {
      font-weight: bold;
      color: black;
    }
  }

  &__number {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #7981b2;
    text-align: center;
    color: #7981b2;

    &--active {
      background-color: #4f4fff;

      color: white;
    }
  }
}
